agatha/cmake/*          linguist-vendored
dlauncher/cmake/*       linguist-vendored
emendo/cmake/*          linguist-vendored
gtk-appearance/cmake/*  linguist-vendored
pangea/cmake/*          linguist-vendored
taeni/cmake/*           linguist-vendored
voyager/cmake/*         linguist-vendored
wpset/cmake/*           linguist-vendored
