[Desktop Entry]
Type=Application
Name=Agatha
Comment=PDF Viewer based on Poppler and GTK3
Exec=agatha %F
Icon=agatha
Terminal=false
Categories=Application;Office;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;application/x-xzpdf;application/x-ext-pdf
StartupNotify=true