[Desktop Entry]
Type=Application
Name=Taeni
Comment=Multi-tabbed terminal emulator based on VTE
Exec=taeni
Icon=utilities-terminal
Terminal=false
Categories=Application;Utility;TerminalEmulator;
StartupNotify=true
