[Desktop Entry]
Type=Application
Name=Dlauncher
Comment=Dlauncher
Exec=dlauncher
Icon=start-here
Terminal=false
Categories=Application;Other;
MimeType=
StartupNotify=false
NoDisplay=true
