[Desktop Entry]
Type=Application
Name=Dlauncher
Comment=Application launcher
Exec=dlauncher
Icon=start-here
Terminal=false
Categories=Utility;
MimeType=
StartupNotify=false
NoDisplay=true
