[Desktop Entry]
Type=Application
Name=Vestigo
Comment=Lightweight file manager
Exec=vestigo %F
Icon=system-file-manager
Terminal=false
Categories=Application;Utility;
MimeType=inode/directory;inode/mount-point;
StartupNotify=true