[Desktop Entry]
Type=Application
Name=Vestigo
Comment=A GTK3 file manager
Exec=vestigo %F
Icon=system-file-manager
Terminal=false
Categories=System;FileTools
MimeType=inode/directory;inode/mount-point;
StartupNotify=true